<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ServerProgramming</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		
	<h1>My friends</h1>
	
	<tr th:each="friend: ${friends}">
   		<td th:text="${friend.name}" /></br>
	</tr>
	
	<h1>Add new friends to the list</h1>

	<form action="#" th:action="@{/index }" method="get">	
	Name: <input type="text" th:name="friend"/>
	<input type="submit" value="Submit">
	</form>
	

	</body>
</html>