<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ServerProgramming</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<h2>Add a new book</h2>
		<div class="col-md-4">
			<form th:object="${book}" th:action="@{save}" action="#" method="post">
			<label for="fname">Title</label>
			<input type="text" id="fname" th:field="*{title}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="fname">Author</label>
			<input type="text" id="fname" th:field="*{author}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="fname">ISBN</label>
			<input type="text" id="fname" th:field="*{isbn}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="fname">Category</label>
			<select th:field="*{category}">
			    <option th:value="'Fiction'" th:text="Fiction"></option>
			    <option th:value="'Non fiction'" th:text="Non fiction"></option>
			</select>
			
			<label for="fname">Year</label>
			<input type="text" id="fname" th:field="*{year}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="fname">Price</label>
			<input type="text" id="fname" th:field="*{price}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-primary" value="Save"></input>
			</form>
		</div>
	</body>
</html>