<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ServerProgramming</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<h2>Bookstore</h2>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Title</th>
				    <th>Author</th> 
				    <th>ISBN</th>
				    <th>Year</th> 
				    <th>Price</th>
				    <th></th>
				    <th></th>
				</tr>
				<tr th:each="book: ${books}">
		    		<td th:text="${book.title}" />
		   			<td th:text="${book.author}" />
		   			<td th:text="${book.isbn}" />
		   			<td th:text="${book.year}" />
		   			<td th:text="${book.price}" />
		   			<td><a th:href="@{/delete/{id}(id=${book.id})}"  class="btn btn-danger">Delete</a></td>
		   			<td><a th:href="@{/book/{id}(id=${book.id})}"  class="btn btn-primary">Edit</a></td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-success" href="/add">Add a new book</a>
	</body>
</html>